body {
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
}

header {
display:flex;
justify-content:space-between;
padding:15px;
background:black;
}

.logo {
color:#00ff99;
font-size:20px;
}

.menu-icon {
display:none;
font-size:24px;
cursor:pointer;
}

nav {
display:flex;
gap:20px;
}

nav a {
color:white;
text-decoration:none;
}

section {
padding:40px;
}

@media(max-width:768px) {
nav {
display:none;
flex-direction:column;
position:absolute;
top:60px;
right:0;
background:black;
padding:20px;
}

.menu-icon {
display:block;
}
}
